<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  routerLink="/inicio">Inicio</a>
    <a class="navbar-brand"  routerLink="/perfil">Perfil</a>
    <a class="navbar-brand"  routerLink="/publicacion">Publicaciones</a>
    <a class="navbar-brand"  routerLink="/carrito">Carrito</a>
</nav>

  <div class="container m-5 bg-black row">
    <div class="col-8">
      <div class="container-fluid border-black">
        <h1 class="font-weight-bolder">DESCRIPCION</h1>
        <hr>
        <p class="text-justify py-5">{{Producto.Detalle_Producto}}</p>
        <hr>

        <div class="row">
          <div class="col">
            <h5 style="font-size: 13PX;">PALABRAS CLAVE</h5>
            <p class="justify"></p>
          </div>
          <div class="col-3">
            <a class="btn btn-primary" href="#" role="button">COMENTARIOS</a>
          </div>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center">
          <div class="card-header">{{Producto.Nombre}}</div>
          <img src="" class="card-img-top" alt="NOT IMAGE">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Q {{Producto.Precio}}</li>
            <li class="list-group-item">
              <a href="#" class="card-link">LIKE</a>
              <a href="#" class="card-link">UNLIKE</a>
            </li>
            <li class="list-group-item">
              <a (click)="addtoCar(Producto.idProducto)" class="btn btn-primary">ADD TO CART</a>
            </li>
          </ul>
        </div>
    </div>
  </div>