
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  routerLink="/inicio">Inicio</a>
    <a class="navbar-brand"  routerLink="/perfil">Perfil</a>
    <a class="navbar-brand"  routerLink="/publicacion">Publicaciones</a>
    <a class="navbar-brand"  routerLink="/carrito">Carrito</a>
</nav>


<div class="container mt-5">
  <div class="row m-5">
    <form>
      <fieldset>
        <div class="form-row">
          <div class="form-group col">
            <input class="form-control form-control-sm" type="text" placeholder="PALABRA CLAVE" name="palabra" [(ngModel)]="palabra" id="inputSmall">
          </div>
          <div class="form-group col">
            <select class="form-control" [(ngModel)]="idCategoria" name="idCategoria" id="exampleSelect1">
              <option *ngFor="let categoria of Categoria" value="{{categoria.idCategoria}}">{{categoria.Categoria}}</option>
            </select>
          </div>
          <div class="form-group col">
            <select class="form-control" [(ngModel)]="orden" name="orden" id="exampleSelect1">
              <option value="ASCENDENTE">ASCENDENTE</option>
              <option value="DESCENDENTE">DESCENDETE</option>
            </select>
          </div>
          <div class="form-group col">
            <a type="button" (click)="getBusqueda()" class="btn btn-secondary btn-large">BUSCAR</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-8">
      <div class="row">

          <div *ngFor="let producto of Productos" class="col-4">
              <div class="card bg-light mb-3">
                  <div class="card-header">{{producto.Nombre}}</div>
                  <div class="card-body">
                    <h5 class="card-title">{{producto.idProducto}}</h5>  
                      <h5 class="card-title">{{producto.Detalle_Producto}}</h5>
                      <h5 class="card-title">{{producto.Precio}}</h5>
                      <h5 class="card-title">{{producto.idCategoria}}</h5>                  
                  </div>
                  <div class="card-footer">
                      <a (click)="anadirCarrito(producto.idProducto)" class="btn btn-dark btn-block">ADD TO CART</a>
                      <button (click)="verPagina(producto.idProducto)" type="submit"  class="btn btn-danger btn-block">DETALLE</button>
                  </div>
              </div>
          </div>


      </div>
  </div>
</div>