
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  routerLink="/perfil">Perfil</a>
    <a class="navbar-brand"  routerLink="/publicacion">Publicaciones</a>
  </nav>



<div class="container mt-5">

  <div class="col-8">
      <div class="row">

          <div *ngFor="let producto of Productos" class="col-4">
              <div class="card bg-light mb-3">
                  <div class="card-header">{{producto.Nombre}}</div>
                  <div class="card-body">
                    <h5 class="card-title">{{producto.idProducto}}</h5>  
                      <h5 class="card-title">{{producto.Detalle_Producto}}</h5>
                      <h5 class="card-title">{{producto.Precio}}</h5>
                      <h5 class="card-title">{{producto.idCategoria}}</h5>                  
                  </div>
                  <div class="card-footer">
                      <a [routerLink]="['/pagina', producto.idProducto]" class="btn btn-dark btn-block">ADD TO CART</a>
                      <button (click)="verPagina(producto.idProducto)" type="submit"  class="btn btn-danger btn-block">DETALLE</button>
                  </div>
              </div>
          </div>


      </div>
  </div>
</div>